@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  --primary-font: 'Sansita Swashed', sans-serif;
  --secondary-font: 'Space Grotesk', sans-serif;
}

/* theme */

#light{
  --primary-color: #232931;
  --secondary-color: #EEEEEE;
  --hover-color: #4ECCA3;
}

#dark {
  --secondary-color: #000000;
  --primary-color: #EEEEEE;
  --hover-color: #7d98e3;
}


.app{
  background-color: var(--secondary-color);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  transition: background-color 150ms ease-in 50ms;
}


/* Navbar */

.navbar{
  color: var(--primary-color);
  position: relative;
  padding-top: 1rem;
  padding-right: 0rem;
}

.logo{
  font-family: var(--primary-font);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  color: var(--primary-color);
}

.logo-icon{
  color: var(--hover-color);
  font-size: 1.7rem;
}

nav{
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a , nav button {
  text-decoration: none;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  cursor: pointer;
}

 nav button {
  right: 0;
  background-color: var(--hover-color);
  font-size: 1.3rem;
  color: #ffffff;
  border-radius: 2rem 0rem 0rem 2rem;
 }



/* home & about */

/* home */

.intro{
  margin: -1rem auto 3rem;
  color: var(--secondary-color);
}

.heading-intro{
  font-family: var(--primary-font);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.sub-heading{
  font-family: var(--secondary-font);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 0.25rem;
}

/* Searchbar */

form {
  border-radius: 1rem 10rem 10rem 1rem;
}

.search-bar {
  width: 100vw;
  height: 45vh;
  padding-top: 5rem;
}

.search-bar input {
  font-family: var(--secondary-font);
  outline: none !important;
  border-radius: 1rem 10rem 10rem 1rem;
  width: 50vw;
}

.search-btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  border-radius: 20%;
}

.active{
  color: var(--hover-color);
}

/* sortingMenu */

.sorting-menu {
  font-family: var(--secondary-font);
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.dropdown {
  background-color: rgb(212, 212, 212);
  width: fit-content;
  letter-spacing: 0.2rem;
  color: black;
}

/* about */

.about .heading{
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.about .description{
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.QnACard:hover{
  border: 2px solid var(--hover-color);
}

.question{
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.QnACard p{
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.QnACard button{
  color: var(--primary-color);
}

.QnACard:hover .question-btn-div button {
  color: var(--hover-color);
}


/* media query for search-bar */

@media only screen and (max-width:1020px) {

  .recipe-pop-up {
      width: 70vw;
      border-radius: 0.5rem;
    }

}


@media only screen and (max-width:860px) {

  .search-bar input {
    width: 60vw;
  }

  .navbar{
    height: 6rem;
  }

  .logo{
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    padding: 1.2rem;
  }

  nav a {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .recipe-pop-up{
    width: 90vw;
    padding: 1rem;
  }

  .recipe-pop-up h2{
    font-size: 1.3rem;
  }

  .recipe-pop-up .topic{
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }



}

@media only screen and (max-width:720px)  {

  .search-bar input {
    width: 60vw;
  }

  .QnACard {
    border-radius: 0.5rem;
  }

  
}

@media only screen and (max-width:520px) {

  .search-bar input {
    width: 70vw;
  }

  input{
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
  }

  .recipe-card{
    margin: 1.5rem 1rem;
  }

  .navbar{
    padding: 0rem;
  }
  .logo{
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    padding: 1.1rem;
  }

  nav a{
      font-size: 1rem;
      padding: 0.5rem;
  }

  .heading{
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
  }

  .description{
    margin-bottom: 1.5rem;
  }

  .QnACard{
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }

  .question-btn-div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }


  .question{
    font-size: 1.3rem;
  }

}


/* recipe-list */

.recipe-card{
  box-shadow: 1px 1px 10px 5px rgb(0,0,0,0.1);
  background-color: #F1F3F8;
  color: black;
    width: 18rem;
}


/* recipe-list (on error stage) */

.error{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.recipe-image{
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.recipe-card a{
  text-decoration: none;
  font-family: var(--secondary-font);
}

.recipe-label{
  font-size: 1.1rem;
}

.recipe-cuisineType{
  font-family: var(--secondary-font);
  letter-spacing: 0.1rem;
}

.card-button{
  color: #232931;
  font-family: var(--secondary-font);
}

.card-button:hover{
  color: var(--hover-color)
}

.card-button:hover a{
    color: #4ECCA3;
}

/* footer */

.footer{
  font-family: var(--secondary-font);
}

.footer p{
  color: white;
}

.footer p a{
  color: var(--hover-color);
  text-decoration: none;
}

/* recipe-pop-up */

.recipe-pop-up{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.recipe-pop-up h2{
  font-family: var(--primary-font);
  letter-spacing: 0.2rem;
}

.recipe-pop-up h3{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0rem;
  font-family: var(--secondary-font);
  color: var(--hover-color);
  font-size: 1.2rem;
}

.recipe-pop-up .group{
  margin: 1.5rem;
}

.recipe-pop-up p{
  font-family: var(--secondary-font);
  margin: 0.3rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  padding: 0.2rem 0.5rem;
}

.recipe-pop-up .mealType{
  display: flex;
}

.recipe-pop-up .mealType p{
  background-color: #000000;
  color: var(--hover-color);
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.recipe-pop-up a{
    font-family: var(--secondary-font);
    color: var(--hover-color);
    text-decoration: none;
    background-color: #000000;
}

/* pagination */

.list-and-pagination{
  width: 95vw;
  margin: 0px auto;
  height: auto;
  margin-bottom: 10rem;
}

.paginationBtns{
  color: #F1F3F8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px auto;
  font-size: 1.1rem;
  font-family: var(--primary-font);
  background-color: #232931;
}

.paginationBtns li{
  letter-spacing: 0.1rem;
  border: none;
}

.paginationBtns li a{
    cursor: pointer;
    display: block;
    padding: 0.75rem 1.2rem;
}

.paginationBtns li a:hover{
  background-color: #F1F3F8;
  color: black;
}

.paginationActive a{
    background-color: var(--hover-color);
    color: black;
}

